<h1>Upcoming events</h1>

<% @upcoming_events.each do |f| %>
  <%= f.name %>
  <%= f.location %>
  <%= f.date %>
  <p>Created by <%= link_to f.creator.name, f.creator %></p>
<% end %>

<h3>Past events</h3>

<% @past_events.each do |f| %>
  <%= f.name %>
  <%= f.location %>
  <%= f.date %>
  <p>Created by <%= link_to f.creator.name, f.creator %></p>
<% end %>
