<!DOCTYPE html>
<html>
<head>
  <title>PrivateEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <h1><%= link_to current_user.name, current_user %></h1>
    <%= link_to "Log out", logout_path, method: "delete" %>
  <% else %>
    <%= link_to "Log in", login_path %>
  <% end %>
  <%= link_to "All events", events_path %>
  <hr>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <%= yield %>

</body>
</html>
